@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body{
  margin: 0;
  background-color: #464e66;
  font-family: "Poppins";
}

.topbar{
    background-color: #6084FF;
    .container{
        margin: 0 2% 0 2%;
        display: grid;
        grid-template-columns: auto auto auto;
        justify-content: space-between;
    }
    .logo{
        text-decoration: none;
        color: white;
        font-size: 3em;
    }
    nav{
        display: flex;
        position: unset;
        height: 100%;
        width: 100%;
        padding: 0;
        margin-top: 0.40em;
    }
    ul{
        display:flex;
        padding-left: 0;
        margin: 0;
        
    }
    li{
        margin-right: 1em;
        margin-left: 1em;
        list-style: none;
        
        a{
            text-decoration: none;
            font-size: 2.5em;
            color: white;
            margin-top: 2%;
            padding-left: 0.5em;
            padding-right: 0.5em;
            border: solid 2px white;
            border-radius: 20px;

            &:hover {
                background-color: white;
                color: #6084FF;
            }
        }
    }
    
}
.hero{
    margin: 0;
    position:absolute;
    top: 22%;
    left: 16%;
    canvas{
        border-radius: 20px;
        background-color: #f6f6f6;
    }
    .container{
        display: grid;
        grid-template-columns: 640px auto;
    }
    .input{
        margin: 100px 50px 50px 100px;
        justify-content: space-between;
        span{
            font-size: 0.4em;
            font-style: bold;
            //display: none;
            color: teal;
        }
        .color-picker{
            display: flex;
            position: absolute;
            top: 50px;
            button{
                margin: 0 10px 0 0;
                border-radius: 6px;
            }
        }
            
        
        p{
            margin: 0 0 0.5em 0;
            font-size: 3em; 
            color: white;
            button{
                font-size: 1em;
                margin: 0;
                padding: 0;
            }
        }
        label{
            color: white;
        }
        input{
            margin-left:10px;
        }
        input[type="number"]{
            width: 15%;
            
        }
        input[type=range]{
            -webkit-appearance: none;
            background-color: #464e66;
        }
        
        input[type=range]::-webkit-slider-runnable-track {
            width: 300px;
            height: 5px;
            background: white;
            border: none;
            border-radius: 3px;
        }
        
        input[type=range]::-webkit-slider-thumb {
            -webkit-appearance: none;
            border: none;
            height: 16px;
            width: 16px;
            border-radius: 50%;
            background: #6084FF;
            margin-top: -6px;
        }
        
        input[type=range]:focus {
            outline:none;
        }

        .variables{
            display: grid;
            grid-template-columns: 150px auto 300px;
            justify-content: left;
            row-gap: 1em;
            .check{
                &:hover{
                    color: white;
                }
            }
        }
        .secondary{
            // display: none;
            span{
                color: red;
            }
            .color-picker{
                position: relative;
                top: 0;
            }
        }
        button{
            color: #6084FF;
            background: none;
            border: none;
            margin: 1em 0 0.6em 0;
            padding: 0;
            font-size: 2em;
            font-family: "Poppins";
            font-weight: bold;

            &:hover{
                color: teal;
                cursor: pointer;
            }
            &:focus{
                outline: none;
            }
        }
        
        
    }
}

.index{
    justify-content: center; 
    display: grid;
    grid-template-rows: auto auto; 
    margin-top: 7%;
    .selection-grid{
        display: grid; 
        grid-template-columns: 300px 300px 300px;
        a, button{
            text-decoration: none;
            background-color: #6084FF; 
            height: 400px; 
            width: 220px; 
            border-radius: 20px;
            color: white;
            font-family: Poppins;
            text-align: center;
            padding-top: 40px;
            padding-left: 20px;
            padding-right: 20px;
        }
        button{
            border: none;
            outline: none;
            &:hover{
                cursor: pointer;
            }
            width: 250px;
            height: 450px;
            padding-bottom: 70px;
        }
    }
}

